---
extends: default
rules:
  line-length:
    max: 140
    ignore: |
      tests/ai/bo-cau-hoi-tieng-viet.yaml
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  document-start: disable
ignore: |
  node_modules/
